@import 'tailwindcss';

@theme {
  --color-main: #ff5f00;
  --color-second: #01a2e3;
  --color-darkBG: #18181b;
  --color-darkTxt: #fafafa;
  --color-lightBG: #e4e4e7;
  --color-lightTxt: #27272a;

  --font-main: 'Open Sans', sans-serif;
  --font-raleway: 'Raleway', sans-serif;
}

body {
  @apply dark:bg-darkBG dark:text-darkTxt bg-lightBG text-lightTxt font-main box-border min-h-screen overflow-x-hidden antialiased;
}

.swiper-pagination-bullet {
  opacity: 0.5;
  background-color: #ffffff;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}
